In [1]:
#initialising libraries
import json
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import glob
import os
import re

pd.set_option("display.max_colwidth", 70000)

In [2]:
base_folder = input("Enter the path for process folder : ")

Enter the path for process folder :  /media/ambijat/Datrat/ipytoneeee/CNUS

# New Method applied here. By Using function to collect negative tweets.
### `text2` is the dataframe that contains tweets.
## some problems are here. we need only stripped texts from the full_text no urls and emojis.

In [3]:
process2_folder = base_folder + "/" + "processed2"
print(process2_folder)
tweet2file = os.path.join(process2_folder, 'tweets2.csv')
print(tweet2file)

/media/ambijat/Datrat/ipytoneeee/CNUS/processed2
/media/ambijat/Datrat/ipytoneeee/CNUS/processed2/tweets2.csv

In [4]:
tweet2 = pd.read_csv(tweet2file, sep=';', lineterminator='\n')

In [5]:
tweet2.head()

,user,reuser,full_text,range,created_at,id,in_reply_to_user_id,user.location,date,date2,date3
0,TomWong93767868,SkyNews,"RT @SkyNews: The PM has pledged to allow nearly three million Hong Kong citizens the right to live and work indefinitely in the UK, with a…",139,Wed Jun 03 16:54:54 +0000 2020,1268224655061479400,NaN,NaN,2020-06-03 16:54:54+00:00,3062020,20200603
1,98h33654581,HongKongFP,RT @HongKongFP: [Recap] Pompeo says China is trying to muzzle Hong Kong by preventing Tiananmen massacre vigil\n\nhttps://t.co/qRHL1YtiFg,135,Wed Jun 03 16:54:54 +0000 2020,1268224652993630200,NaN,NaN,2020-06-03 16:54:54+00:00,3062020,20200603
2,tckj725,Reuters,RT @Reuters: HSBC says it supports China's security law for Hong Kong https://t.co/drA7pWNFuW https://t.co/yCCJE6Pye3,117,Wed Jun 03 16:54:53 +0000 2020,1268224650112200700,NaN,Australia、Hong kong,2020-06-03 16:54:53+00:00,3062020,20200603
3,kizza_marxel,nytimes,RT @nytimes: Breaking News: Prime Minister Boris Johnson pledged to admit nearly 3 million people into Britain from Hong Kong if China were…,140,Wed Jun 03 16:54:51 +0000 2020,1268224642839240700,NaN,NaN,2020-06-03 16:54:51+00:00,3062020,20200603
4,PilotAbilene,Steinhoefel,"RT @Steinhoefel: Einwanderung, aber richtig. Ich weiss gar nicht mehr, aus wie vielen Gründen das ein kluges Vorhaben von Boris Johnson ist…",140,Wed Jun 03 16:54:51 +0000 2020,1268224642390593500,NaN,Shermany,2020-06-03 16:54:51+00:00,3062020,20200603

In [6]:
twitext2 = pd.DataFrame(tweet2.full_text)

In [7]:
twitext2.head()

                                                                                                                                      full_text
0   RT @SkyNews: The PM has pledged to allow nearly three million Hong Kong citizens the right to live and work indefinitely in the UK, with a…
1     RT @HongKongFP: [Recap] Pompeo says China is trying to muzzle Hong Kong by preventing Tiananmen massacre vigil\n\nhttps://t.co/qRHL1YtiFg
2                         RT @Reuters: HSBC says it supports China's security law for Hong Kong https://t.co/drA7pWNFuW https://t.co/yCCJE6Pye3
3  RT @nytimes: Breaking News: Prime Minister Boris Johnson pledged to admit nearly 3 million people into Britain from Hong Kong if China were…
4  RT @Steinhoefel: Einwanderung, aber richtig. Ich weiss gar nicht mehr, aus wie vielen Gründen das ein kluges Vorhaben von Boris Johnson ist…

## Eliminating all the `URLs`.

In [8]:
twitext = twitext2.replace(r'(https?://[^\s<>"]+|www\.[^\s<>"]+)', '', regex =True)

In [9]:
len(twitext)

116017

In [10]:
twitext.head()

                                                                                                                                      full_text
0   RT @SkyNews: The PM has pledged to allow nearly three million Hong Kong citizens the right to live and work indefinitely in the UK, with a…
1                            RT @HongKongFP: [Recap] Pompeo says China is trying to muzzle Hong Kong by preventing Tiananmen massacre vigil\n\n
2                                                                       RT @Reuters: HSBC says it supports China's security law for Hong Kong
3  RT @nytimes: Breaking News: Prime Minister Boris Johnson pledged to admit nearly 3 million people into Britain from Hong Kong if China were…
4  RT @Steinhoefel: Einwanderung, aber richtig. Ich weiss gar nicht mehr, aus wie vielen Gründen das ein kluges Vorhaben von Boris Johnson ist…

In [11]:
path_to_process_file = base_folder + "/" + "processed"
p_file = path_to_process_file + "/" + "process_type1.txt"
print(p_file)
p2_file = path_to_process_file + "/" + "process_type2.txt"
print(p2_file)

/media/ambijat/Datrat/ipytoneeee/CNUS/processed/process_type1.txt
/media/ambijat/Datrat/ipytoneeee/CNUS/processed/process_type2.txt

## Collecting all words from tweet texts.

In [12]:
!rm *.tmp

!cat $p_file | sed 's/[[:space:]]/\n/g' | sed 's/^[ \t]*//' | sed 's/[ \t]*$//' | \
sed '/^$/d'| tr -cd '[:alnum:] [:space:]' >> rvd2.tmp
!awk 'length > 2' < rvd2.tmp | awk '{print tolower($0)}' > rvd22.tmp
!grep -vwF -f exclude.exd < rvd22.tmp > $p2_file

!rm *.tmp

rm: cannot remove '*.tmp': No such file or directory

In [13]:
text3 = []
with open (p2_file, "r") as p2file:
    for line in p2file:
        text3.append(line.strip())

In [14]:
text3[:10]

['usa', 'don', 'usa', 'ccp', 'lol', 'noun', 'usa', 'yes', 'sad', 'ndp']

In [15]:
negative = []
n_file = "negative-words.exd"
print(n_file)

negative-words.exd

In [16]:
with open (n_file, "r") as nwfile:
    for line in nwfile:
        negative.append(line.strip())

In [17]:
negative[:10]

['2-faced',
 '2-faces',
 'abnormal',
 'abolish',
 'abominable',
 'abominably',
 'abominate',
 'abomination',
 'abort',
 'aborted']

## finding common negative words that are in tweet text text3 and negative list.

In [18]:
n2 = []
n2 = list(set(negative) & set(text3))

## n2 is the common list of words that are in negative list and the tweet text list text3 .

In [19]:
n2[:10]

['randomly',
 'tyrannical',
 'disproportionate',
 'insulting',
 'disingenuous',
 'punch',
 'impotent',
 'virus',
 'violent',
 'pretense']

In [20]:
len(n2)

1544

# Create lambda with any to collect negative tweets:
#### https://stackoverflow.com/questions/60251920/compare-strings-of-a-column-in-a-dataframe-with-a-set-of-words-in-a-list

## Using `n2` as a marker for filtering `twitext`.

In [21]:
text4 = twitext[twitext['full_text'].str.contains(r'(?:{})'.format('|'.join(n2)), regex=True, na=False)].copy()

In [22]:
text4[:10]

                                                                                                                                                                                                                                                                   full_text
1                                                                                                                                                         RT @HongKongFP: [Recap] Pompeo says China is trying to muzzle Hong Kong by preventing Tiananmen massacre vigil\n\n
5                                                                                                                               RT @YuanfenYang: Today China said the Sino-British Joint Declaration, which grants Hong Kong a "high degree of autonomy", was a "unilateral…
6                                                                                                                               RT @WSJ: A top HSBC executive signed a petition supporting China's imposition of security legislation on Hong Kong, putting the bank on Bei…
7                                                                                                                               RT @VoCommunism: "There is a well-worn pattern of how Beijing deals with dissent, a pattern that can be seen in Xinjiang, Tibet, and most p…
9                                                                                                                               RT @australian: China has banned Hong Kong’s annual candlelight vigil to commemorate the 1989 Tiananmen Square massacre, amid concerns afte…
10                                                                                                                              RT @YuanfenYang: Today China said the Sino-British Joint Declaration, which grants Hong Kong a "high degree of autonomy", was a "unilateral…
12                                                                                                                              RT @AMFChina: "China’s foreign ministry has accused Britain of 'gross interference' in the country’s affairs after Boris Johnson said he wo…
13                                                                                                                              RT @DominicRaab: Today I updated Parliament on Hong Kong. There is time for China to re-consider, step back from the brink and respect both…
14                                                                                                                              RT @ForeignPolicy: Unable to enact policies to address the underlying grievances of Hong Kong citizens, Beijing faces a sustained, motivate…
15  EXCLUSIVE: UK is ready to stand up for rights &amp; freedoms of Hong Kong even at price of a free trade deal with China, @DominicRaab tells @SkyNews\nHe warns Beijing's rise as a global power could lose its shine unless it lives up to international commitments\n\n

In [23]:
len(text4)

78843

### exporting list to txt file.

In [24]:
p5_file = path_to_process_file + "/" + "negative_tweets2.txt"
print(p5_file)
text4.to_csv(p5_file, header = None, index = None, sep=' ', mode='a')

/media/ambijat/Datrat/ipytoneeee/CNUS/processed/negative_tweets2.txt

## Collecting all positive tweets.

In [25]:
text6 = twitext[~twitext['full_text'].str.contains(r'(?:{})'.format('|'.join(n2)), regex=True, na=False)].copy()

In [26]:
text6.head()

                                                                                                                                      full_text
0   RT @SkyNews: The PM has pledged to allow nearly three million Hong Kong citizens the right to live and work indefinitely in the UK, with a…
2                                                                       RT @Reuters: HSBC says it supports China's security law for Hong Kong
3  RT @nytimes: Breaking News: Prime Minister Boris Johnson pledged to admit nearly 3 million people into Britain from Hong Kong if China were…
4  RT @Steinhoefel: Einwanderung, aber richtig. Ich weiss gar nicht mehr, aus wie vielen Gründen das ein kluges Vorhaben von Boris Johnson ist…
8                                                  RT @ReutersChina: British PM Johnson tells China: We'll not walk away from Hong Kong people

In [27]:
len(text6)

37174

In [28]:
print(len(text4) + len(text6))

116017

In [29]:
#exporting list to txt file.
p7_file = path_to_process_file + "/" + "positive_tweets2.txt"
print(p7_file)
text6.to_csv(p7_file, header = None, index = None, sep=' ', mode='a')

/media/ambijat/Datrat/ipytoneeee/CNUS/processed/positive_tweets2.txt